<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <div class="row" style="padding:0">
        <div class="col-6">
          <div class="btn btn-sm btn-block"  (click)="this.allProjects = false" [ngClass]="!this.allProjects ? 'btn-primary' : 'btn-outline-primary'">Open</div>
        </div>

        <div class="col-6">
          <div class="btn btn-sm btn-block" (click)="this.allProjects = true" [ngClass]="this.allProjects ? 'btn-primary' : 'btn-outline-primary'">All</div>
        </div>
      </div>
      <div style="margin-top:10px"  class="list-group">
        <a *ngFor="let project of this.getProjects(); let i = index" [routerLink]="project.projectId" routerLinkActive="router-link-active"
          href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': project === this.getActivatedProject()}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{project.projectName}}</h5>
          </div>
          <p class="mb-1">Status: {{project.projectStatus}}</p>
          <!-- <small>Created {{this.ui.getTimeFromDate(project.created)}}</small> -->

        </a>
        <div style="margin-top:10px" *ngIf="this.getProjects().length == 0" class="card">
            <div class="card-body">
              No open projects
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm" *ngIf="!this.getActivatedProject()">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Fiddler Application</h1>
          <p class="lead">Please select a project on the left.</p>
        </div>
      </div>
    </div>
    <div class="col-sm" *ngIf="this.getActivatedProject()">
      <router-outlet (refresh)="this.getProjects()"></router-outlet>
    </div>
  </div>
</div>