<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="list-group">
        <a *ngFor="let project of this.projects; let i = index" [routerLink]="project.projectId"
        routerLinkActive="router-link-active"  href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': project === this.getActivatedProject()}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{project.projectName}}</h5>
            <small>{{this.ui.getTimeFromDate(project.created)}}</small>
          </div>
          <p class="mb-1">{{project.projectStatus}}</p>
          <small>{{project.processes.length}} processes</small>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
