<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4">
      <h2>{{this.project?.projectName}}</h2>
      <div class="">
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>Id:</td>
              <td>{{this.project?.projectId}}</td>
            </tr>
            <tr>
              <td>Status:</td>
              <td>{{this.project?.projectStatus}}</td>
            </tr>
            <tr>
              <td>Type:</td>
              <td>{{this.project?.projectType}}</td>
            </tr>
            <tr>
              <td>Created:</td>
              <td>{{this.project?.created}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3>Team</h3> 
      <div class="">
        <table class="table table-user-information">
          <tbody>
            <tr *ngFor="let role of this.project?.team.teamRoleList">
              <td>{{role.teamRole}}: {{role.teamMembersInRole.length}} Members</td>
              <td><button (click)="this.editRole(role)">Edit Role</button></td>
            </tr>
            
          </tbody>
        </table>
        <button (click)="this.addRole()">Add New Role</button>
      </div>
      <h3 style="padding-top: 20px">Attachments</h3> 
      <div class="">
        <table class="table table-user-information">
          <tbody *ngIf="this.project?.attachments.length === this.fileNames.length">
            <tr style="word-break: break-all;" *ngFor="let attachment of this.fileNames;let i = index">
              <button (click)="this.removeDocument(attachment.id)" type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              <a style="cursor: pointer;" [href]="this.docLink(attachment.id)" >{{attachment.name}}</a>
            </tr>
            
          </tbody>
          
        </table>
        <button (click)="this.addAttachment()">Add Attachment</button>
      </div>
    </div>
    <div class="col-xl-8" style="padding-top:10px">
      <div *ngFor="let process of project?.processesArray" class="row">
        <h4>{{process.subProcessCategory}}</h4>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of process.subProcessTasks">
                  <th scope="row"><a style="cursor: pointer; color: darkblue" (click)="this.selectTask(task)">{{task.taskTitle}}</a></th>
                  <td>{{task.taskDescription}}</td>
                  <td>{{task.taskStatusHistory[task.taskStatusHistory.length-1].statusValue | titlecase}}</td>
                </tr>
            </table>

      </div>

    </div>
    
  </div>
</div>
